  <%= pb_rails("background", props: { background_color: "white", padding_bottom: "none", padding_top: "xs" }) do %>

    <%= pb_rails("flex", props: { justify: "between", padding_left:"lg", padding_right:"lg", wrap: true, vertical: "center" }) do %>
        <%= image_tag("logo.png", alt: "Company Logo") %>

        <%= pb_rails("flex", props: { justify: "between", vertical: "center", row_gap: "sm", classname: "header-notification-container" }) do %>
          <%= pb_rails("flex/flex_item") do %>
            <%= pb_rails("icon", props: { icon: image_url("icons/bell.svg") }) %>
              <%= pb_rails("badge", props: {
                  text: "4",
                  variant: "primary"
                })
              %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
            <%= pb_rails("icon", props: { icon: image_url("icons/inbox.svg" )})%>
              <%= pb_rails("badge", props: {
                text: "2",
                variant: "primary"
              })
            %>
          <% end %>
        <% end %>



      <div class="pb_col-auto">
        <%= pb_rails("avatar", props: {
            name: "Indhira Shree",
            size: "sm",
            image_alt: "Indhira Shree",
            image_url: image_path("avatars/Anita Cruz.png")
          }) %>
      </div>
    <% end %>
  <% end %>
      <%= pb_rails("section_separator") %>

    <div class="pb_col-auto pb_flex pb_items_center">
      <%= pb_rails("nav", props: {  margin_top: "sm", orientation: "horizontal" }) do %>
        <%= pb_rails("nav/item", props: { text: "Dashboard", link: "#", active: true }) %>
        <%= pb_rails("nav/item", props: { text: "Products", link: "#" }) %>
        <%= pb_rails("nav/item", props: { text: "In Progress", link: "#" }) %>
        <%= pb_rails("nav/item", props: { text: "Settings", link: "#" }) %>
        <%= pb_rails("nav/item", props: { text: "Sign Out", link: "#" }) %>
      <% end %>
    </div>
