<%= pb_rails("card", props: { border_none: true, shadow: "deeper", padding:"none", margin: "sm", class: 'chart-container' }) do %>
  <div class="gridone">
    <% @grid_data.map(&:symbolize_keys).each do |ticket|%>
      <%= pb_rails("background", props: { background_color: "white", padding: "md" }) do %>
        <%= pb_rails("flex", props: {horizontal: "left", vertical: "center", horizontal: "center" }) do %>
          <%= pb_rails("flex/flex_item", props:{ fixed_size: "215px", classname: 'grid-chart-item' }) do %>
            <%= pb_rails("icon_stat_value", props: ticket.merge(icon: image_url("icons/#{ticket[:icon]}"))) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

